<h2>Add Item</h2>
<form class="form-group" #itemForm="ngForm">
    <label for="name">name</label>
    <input class="form-control" type="text" placeholder="name" name="name" [(ngModel)]="item.name">
    <label for="description">description</label>
    <input class="form-control" type="text" placeholder="description" name="description" [(ngModel)]="item.description">
    <label for="category">category</label>
    <input class="form-control" type="text" placeholder="category" name="category" [(ngModel)]="item.category" required>
    <label for="brand">brand</label>
    <input class="form-control" type="text" placeholder="brand" name="brand" [(ngModel)]="item.brand">
    <label for="color">color</label>
    <input class="form-control" type="text" placeholder="color" name="color" [(ngModel)]="item.color">
    <label for="quantity">quantity</label>
    <input class="form-control" type="number" placeholder="quantity" name="quantity" [(ngModel)]="item.quantity">
    <label for="modelNo">modelNo</label>
    <input class="form-control" type="number" placeholder="modelNo" name="modelNo" [(ngModel)]="item.modelNo">
    <label for="tags">tags</label>
    <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="item.tags">
    <label for="price">price</label>
    <input class="form-control" type="text" placeholder="price" name="price" [(ngModel)]="item.price">
    <label for="image">Choose Image</label>
    <input class="form-control" type="file" name="image" (change)="fileChanged($event)">
    <button (click)="submit()" *ngIf="!submitting" [disabled]="itemForm.invalid" class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submiting...</button>
</form>

<!-- <item-form (submit)="submit()"></item-form> -->