<h2>Reset Password</h2>
<p>Reset your new password</p>
<form class="form-group" #resetForm="ngForm">
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
        required>
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword"
        name="confirmPassword" required>

    <button class="btn btn-primary" (click)="submit()" *ngIf="!submitting">reset</button>
    <button class="btn btn-primary" disabled *ngIf="submitting">resetting...</button>


</form>
<p>
    <a routerLink="/auth/login">back to login</a>
</p>