<h2>Forgot Password</h2>
<p>Please enter your email address to reset your password</p>
<form class="form-group" #forgotForm="ngForm">
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required>
    <button class="btn btn-primary" [disabled]="forgotForm.invalid" *ngIf="!submitting"
        (click)="submit()">submit</button>
    <button class="btn btn-info" disabled *ngIf="submitting">submitting...</button>
    <p>
        <a routerLink="/auth/login">back to login</a>
    </p>
</form>