<h2>View Items</h2>

<button *ngIf="inputData" (click)="searchAgain()" class="btn btn-success">search again</button>

<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<table *ngIf="!loading" table class="table">
    <thead>
        <th>S.N</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Color</th>
        <th>Created At</th>
        <th>Image</th>
        <th *ngIf="!inputData">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items;let i = index">
            <td>{{i +1 }}</td>
            <td>{{item.name | uppercase }}</td>
            <td>{{item.category }}</td>
            <td>{{item.price }}</td>
            <td>{{item.color}}</td>
            <td>{{item.createdAt | date:'hh:mm a'}}</td>
            <td>
                <img src="{{imgUrl}}{{item.image}}" width="200px" alt="{{item.name}}">
            </td>
            <td *ngIf="!inputData">
                <button routerLink="/item/edit/{{item._id}}" class="btn btn-info">edit</button>
                <button (click)="removeItem(item._id,i)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>